.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-top: 40px;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons i {
  margin-left: 25px;
}

.screen-header__icons-new {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  top: 65px;
  right: 18px;
}

@keyframes rotateGear {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-gear:hover {
  animation: rotateGear 1s linear infinite;
}
